<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>✈️ floo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static' , filename = 'css/main.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Archivo:400,600,700" rel="stylesheet">

</head>
<body>
                {% block content %}
                {% endblock %}            
</body>
</html>