{% extends 'base.html' %}
{% block content %}
<div class="hero is-warning  is-fullheight is-fullwidth">
<div class="container">
    <div class="hero-head">
        <br>
        <nav class="navbar">
                <div class="navbar-start is-size-1 has-text-black" >
                    <a href="{{url_for('index')}}"><span  style="font-family: 'Archivo Black' ;font-weight:400 !important;">✈️ floo.</span></a>       
                </div>
                    <div class="navabar-end">
                        <div class="navabar-item is-pulled-right">
                            <div class="field is-grouped">
                                <p class="control is-desktop is-hidden-mobile">
                                    <a href="{{url_for('user')}}" class="button baseinput is-black is-size-4 ">Hey ! {{ username.title() }} <ion-icon name="person" style="padding-left: 1rem;"></ion-icon></a>
                                </p>
                                <p class="control is-mobile is-hidden-tablet is-inline-block">
                                        <a href="{{url_for('user')}}" class="button baseinput is-black is-size-4 "><ion-icon name="person" ></ion-icon></a>
                                </p>
                            </div>
                        </div>
                    </div>
                
        </nav>
    </div>
    <div class="hero-body" style="padding-top: 7rem;padding-left: 10%;">
    <div class="content has-text-black ">
            {% if mssg %}
            <div class="notification has-text-centered is-size-5 notification is-black">
                    {{ mssg }}
                </div>
            {% endif %}
        <p class="notification is-link has-text-centered is-size-5 "> Search & One-way tickets with floo! 👌 </p>
        <br>

            <form action="{{ url_for('index') }}" method="POST">
                {{ form.hidden_tag() }}

                <p style="font-size:5rem !important; ">
                    Going from 
                    <span class="field">
                            <span class="select control">
                    <span class="">{{ form.origin(class="select xinput") }}</span>
                                </span>
                    </span>
                    <br>
                    to 
                    <span class="field">
                            <span class="select control">

                    <span class="">{{ form.destination(class="select xinput is-large") }}</span>
                            </span>
                </span>
                    <br>
                    on
                    <span class="field">
                    <span class="control is-inline-flex">{{ form.date(class="input xinput is-large" , placeholder="eg. 25/11/2018") }}</span>
                    </span><br>
                    with
                    <span class="field">
                    <span class="control is-inline-flex">{{ form.num_people(class="input xinput is-large" , placeholder="1 person") }}</span>
                    </span> 
                    <br> 
                    <span class="control"><button class="button baseinput is-black is-size-2" type="submit" style="margin-top:1rem;">Go <ion-icon name="airplane" style="padding-left: 1rem;"></ion-icon> </a></span>
                </p>
            </form>
    </div>
    </div>
    <div class="hero-foot">
        </div>

</div>
</div>
{% endblock %}