{% include 'base.html' %}
{% block content %}
<div class="hero is-warning is-fullheight is-fullwidth">
    <div class="container">
    <div class="hero-head">
            <br>
            <nav class="navbar">
                    <div class="navbar-start is-size-1 has-text-black" >
                        <a href="{{url_for('index')}}"><span  style="font-family: 'Archivo Black' ;font-weight:400 !important;">✈️ floo.</span></a>       
                    </div>
                        <div class="navabar-end">
                            <div class="navabar-item is-pulled-right">
                                <div class="field is-grouped">
                                    <p class="control">
                                            <a href="{{url_for('user')}}" class="button baseinput is-black is-size-4 ">Hey ! {{ username.title() }} <ion-icon name="person" style="padding-left: 1rem;"></ion-icon></a>
                                        </p>
                                </div>
                            </div>
                        </div>
                    
            </nav>
    </div>
<div class="hero-body is-warning" >
    <div class="travel-info has-text-black  is-warning">
        <br>
        <p class="fontbold">Hello ! {{ username.title() }} 👋 </p>
        <br>
        <br>
        <br>
        <div class="orders ">
            {% for l in bookings %}
                <div class="box is-narrow">
                    <h1 class="fontbold has-text-black is-size-2">{{ l[2].origin.pre_name }}<span class="has-text-grey"> to </span>{{ l[2].destination.pre_name }}</h1>
                    <br>
                    <p class="is-size-4 fontbold has-text-info">STATUS : BOOKED</p>
                    <br>
                    <p class="fontbold is-size-4">On : {{ l[1].date }}</p>
                    <br>
                    <p class="fontbold is-size-4">For : {{ l[1].people }}</p>
                    <hr>
                    <p class="fontbold is-size-4 ">Total Fare : {{l[1].people|int*l[2].fare|int }} </p>
                </span>
                </div> 
            {% endfor %}
         </div>
    </div>
    <br>
    
</div>
</div>
</div>
{% endblock %}